backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
certifi==14.5.14
Mako==1.0.1
MarkupSafe==0.23
praw==2.1.20
requests==2.6.0
six==1.9.0
tornado==4.1
update-checker==0.11
